<div class="container">
  	<h1>Хакатон по Рискам</h1>
  	<h2>1. Команда 2+2</h2>
  	<div class="row">
  		<div class="col-md-3">
  			<%= image_tag("m1.jpg", class: "img-responsive") %>
  			<h3>Михаил Клишевич</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m2.jpg", class: "img-responsive") %>
  			<h3>Михаил Борисов</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m3.jpg", class: "img-responsive") %>
  			<h3>Екатерина Ганькина</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m4.jpg", class: "img-responsive") %>
  			<h3>Екатерина Атлетова</h3>
  			<br/>
  		</div>
  	</div>
  	<h2>2. Наша идея, наша модель</h2>
  	<h2>3. Бизнес-эффект (в деньгах)</h2>
  	<h2>4. Сложность реализации (внедрения)</h2>
  	<h2>5. Ценность идеи</h2>
  	<h2>6. Онлайн калькулятор</h2>
  	<div class="row">
  		<div class="col-md-6">
		  	<%= form_tag("/", method: "get") do %>
		  		<div class="form-group">
		  			<%= label_tag(:invested_money, "Сумма инвестиции", class: 'control-label') %>
		  			<%= text_field_tag(:invested_money, @invested_money, class: 'form-control') %>
		  		</div>
		  		<div class="form-group">
			  		<%= submit_tag("Расчитать", class: 'btn btn-primary') %>
			  	</div>
			<% end %>
			<div class="alert alert-success" role="alert">
				<strong>Ожидаемая доходность:</strong> <%= @expect_profit %>
			</div>
			<div class="alert alert-info" role="alert">
				<strong>Ожидаемая историческая доходность:</strong> <%= @expect_history_profit %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<%= simple_form_for(@test, html: { class: 'form-horizontal' }) do |f| %>
			  	<%= f.input :expiration_date, as: :string %>
			</div>
		  <div class="form-actions">
		    <%= button_tag "Сохранить", data: { disable_with: "Идет сохранение.." }, class: "btn btn-primary" %>
		    <%= link_to "Отменить", '/' , class: "btn btn-default" %>
		  </div>
		<% end %>
		</div>
	</div>
</div>
