<div class="container">
  	<h1><%= link_to "Хакатон по Рискам", "/" %></h1>
  	<h2>1. Команда 2+2</h2>
  	<div class="row">
  		<div class="col-md-3">
  			<%= image_tag("m1.jpg", class: "img-responsive") %>
  			<h3>Михаил Клишевич</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m2.jpg", class: "img-responsive") %>
  			<h3>Михаил Борисов</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m3.jpg", class: "img-responsive") %>
  			<h3>Екатерина Ганькина</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m4.jpg", class: "img-responsive") %>
  			<h3>Екатерина Атлетова</h3>
  			<br/>
  		</div>
  	</div>
  	<h2>2. Наша идея, наша модель</h2>
  	<div class="myimg"><%= image_tag("gini.jpg", class: "img-responsive") %></div>
  	<div>Мы строили модель на анкетных данных 1170 заёмщиков, 141 из которых являются дефолтниками. Наше определение дефолта: 60+ в течение всей жизни кредита.</div>
    <div>Оценивая переменные по степени значимости, мы выявили 5 переменных: - Количество поручителей, -Семейное положение, - Количество детей, - Всего активных кредитных договоров, - Общее число запрососв в НБКИ за последние 12 мес, на которых модель Логистической регрессии даёт Gini порядка 55% на обучающей выборке и 50% на тестовой.</div>
  	<div class="myimg"><%= image_tag("depandency.jpg", class: "img-responsive") %></div>
  	<h2>3. Бизнес-эффект (в деньгах)</h2>
    <div>
      <p>Для оценки финансового результата мы учитываем, что существующая база клиентов, на которой обучалась модель, прошла предварительный отбор на основе существующей модели. Так как у нас нет информации о поведении клиентов, которым отказали в кредите, мы можем прогнозировать работу модели только в дополнение к существующей модели.</p>
      <p>Сравним результат работы текущей модели отдельно и комбинации текущая + наша.</p>
      <p>Для этого необходимо оценить прибыль от среднего хорошего клиента за период кредитования и результат от среднего дефолтного клиента. Средние параметры клиентов из выборки (объем выдачи, срок кредита, среднее время до выхода в просрочку для дефолтных кредитов, среднюю % ставку) дополнены информацией из Клиентской отчетности МАСС по хорошим заемщикам за 2016 год (маржа рискового портфеля 13.2% годовых, маржа совокупная с доп. доходом (риск + безриск) 37.4% годовых).</p>
      <p>Предполагаем также, что:</p>
      <ul>
        <li>средний клиент выплачивает кредит по аннуитетной схеме,</li>
        <li>остаток ОД по просроченному кредиту списывается полностью после 180 дней просрочки,</li>
        <li>если клиент получает отказ по кредитной заявке, он уходит из Банка совсем и не приносит безрисковой прибыли также</li>
      </ul>
      <p>Таким образом получаем оценку <b>прибыли от среднего хорошего</b> и <b>среднего плохого</b> клиентов как <b>+ 900 тыс. руб.</b> и <b>– 500 тыс. руб.</b> за весь срок кредита.</p>
      <p>С учетом рассчитанной прибыли клиента получаем, что от применения модели будет положительный эффект, если установить порог отказа на основе нашей модели в 50% и более вероятности дефолта. Этот порог из текущей выборки не проходят 17 клиентов, из которых 12 плохих и 5 хороших.</p>
      <div class="myimg"><%= image_tag("fin_rez2.png", class: "img-responsive") %></div>
      <p>Полученный результат от применения модели:</p>
      <ul>
        <li>уменьшение доли дефолтных клиентов <b>с 12.4% до 11.6%</b> от всех привлеченных,</li>
        <li>увеличение прибыли в пересчете на входящую базу в 1000 клиентов (на выходе текущей модели 1000, из них после фильтра нашей модели остается 986 клиентов) на <b>1.34 млн руб</b>,</li>
        <li>увеличение прибыли от одного клиента базы на <b>1.7%</b>.</li>
      </ul>

    </div>
  	<h2>4. Ценность идеи</h2>
    <div class="myimg"><%= image_tag("face_palm.jpg", width: "600px;", class: "img-responsive", title: "Чтобы не было Palmface, надо внедрять нашу модель :)") %></div>
  	<p>Ценность идеи в том что мы можем получить дополнительную прибыль и избежать части возможных убытков.</p>
  	<ol>
  		<li>Отсутствие необходимости в дорогостоящем выезде Кредитного аналитика </li>
  		<li>Снижение затрат на услуги коллекторских агентов</li>
  		<li>Одобрение большего количества хороших заемщиков в процентном соотношении</li>
  		<li>Снижение количества плохих заемщиков</li>
  	</ol>
  	<h2 id="calc0">5. Сложность реализации (внедрения)</h2>
    <div>Сложность реализации низкая, в подтверждение этого мы сделали "Онлайн калькулятор"</div>
    <br/>
  	<div class="row">
  		<div class="col-md-6">
		  	<%= form_tag("/#calc0", method: "get") do %>
		  		<div class="form-group">
		  			<%= label_tag(:married, "Женат", class: 'control-label') %>
		  			<%= select_tag :married, options_for_select([["Нет",0],["Да",1]], :selected=> @married), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:child_num, "Кол-во детей", class: 'control-label') %>
		  			<%= select_tag :child_num, options_for_select([["Нет",0],["Один",1],["Два",2],["Три и более",3]], :selected=> @child_num), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:active_loans, "Кол-во активных кредитов у заемщика", class: 'control-label') %>
		  			<%= select_tag :active_loans, options_for_select([["0 - 2","A"],["3 - 4","B"],["5 и более","C"]], :selected=> @active_loans), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:inquiries, "Общее число запросов кредитной истории за 12 мес", class: 'control-label') %>
		  			<%= select_tag :inquiries, options_for_select([["0 - 7","A"],["8 - 15","B"],["16 и более","C"]], :selected=> @inquiries), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:grn_num, "Количество поручителей", class: 'control-label') %>
		  			<%= select_tag :grn_num, options_for_select([["Нет",0],["Один",1],["Два",2],["Три",3],["Четыре и более",4]], :selected=> @grn_num), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
			  		<%= submit_tag("Расчитать", class: 'btn btn-primary') %>
			  	</div>
			<% end %>
      <% if @rating %>
			<div class="alert alert-info" role="alert">
				<strong>Вероятность дефолта:</strong> <%= "%.2f" % @rating_percent %> %
			</div>
      <% end %>
			<% if @good_rating == 2 %>
			<div class="alert alert-success" role="alert">
				<strong>Хороший клиент (вероятность дефолта меньше 30%)</strong> 
			</div>
			<% elsif @good_rating == 1 %>
			<div class="alert alert-warning" role="alert">
				<strong>Средний уровень риска (вероятность дефолта от 30% до 50%)</strong> 
			</div>
      <% elsif @good_rating == 0 %>
      <div class="alert alert-danger" role="alert">
        <strong>Плохой клиент (вероятность дефолта более 50%)</strong> 
      </div>
			<% end %>
		</div>
	</div>
</div>
