<div class="container">
  	<h1><%= link_to "Хакатон по Рискам", "/" %></h1>
  	<h2>1. Команда 2+2</h2>
  	<div class="row">
  		<div class="col-md-3">
  			<%= image_tag("m1.jpg", class: "img-responsive") %>
  			<h3>Михаил Клишевич</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m2.jpg", class: "img-responsive") %>
  			<h3>Михаил Борисов</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m3.jpg", class: "img-responsive") %>
  			<h3>Екатерина Ганькина</h3>
  			<br/>
  		</div>
  		<div class="col-md-3">
  			<%= image_tag("m4.jpg", class: "img-responsive") %>
  			<h3>Екатерина Атлетова</h3>
  			<br/>
  		</div>
  	</div>
  	<h2>2. Наша идея, наша модель</h2>
  	<%= image_tag("gini.jpg", class: "img-responsive") %>
  	<br/>
  	<%= image_tag("depandency.jpg", class: "img-responsive") %>
  	<br/>
  	<div>Мы строили модель на анкетных данных 1170 заёмщиков, 141 из которых являются дефолтниками. Наше определение дефолта: 60+ в течение всей жизни кредита.</div>
  	<div>Оценивая переменные по степени значимости, мы выявили 5 переменных: - Количество поручителей, -Семейное положение, - Количество детей, - Всего активных кредитных договоров, - Общее число запрососв в НБКИ за последние 12 мес, на которых модель Логистической регрессии даёт Gini порядка 55% на обучающей выборке и 50% на тестовой.</div>
  	<h2>3. Бизнес-эффект (в деньгах)</h2>
  	<%= image_tag("face_palm.jpg", width: "600px;", class: "img-responsive") %>
  	<div>
  		<h3>3.1. Меньше выдаем плохих кредитов</h3>
  		<ul>
  			<li>Экономия на дефолтах</li>
  			<li>Экономия на операционных расходах (коллекшн и т.п.)</li>
  		</ul>
  	</div>
  	<div>
  		<h3>3.2. Делаем меньше отказов хорошим заемщикам</h3>
  	</div>
  	<div>
  		<h3>3.3. Экономия на выезде кредитного аналитика</h3>
  	</div>
  	<h2>4. Сложность реализации (внедрения)</h2>
  	<h2>5. Ценность идеи</h2>
  	<div>Финансовый эффект от внедрения работоспособной модели для массового бизнеса включает несколько слагаемых. Мы можем получить дополнительную прибыль и избежать части возможных убытков.</div>
  	<ol>
  		<li>Отсутствие необходимости в дорогостоящем выезде Кредитного аналитика </li>
  		<li>Снижение затрат на услуги коллекторских агентов</li>
  		<li>Одобрение большего количества хороших заемщиков</li>
  		<li>Снижение количества плохих заемщиков</li>
  	</ol>
  	<h2 id="calc0">6. Онлайн калькулятор</h2>
  	<div class="row">
  		<div class="col-md-6">
		  	<%= form_tag("/#calc0", method: "get") do %>
		  		<div class="form-group">
		  			<%= label_tag(:married, "Женат", class: 'control-label') %>
		  			<%= select_tag :married, options_for_select([["Нет",0],["Да",1]], :selected=> @married), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:child_num, "Кол-во детей", class: 'control-label') %>
		  			<%= select_tag :child_num, options_for_select([["Нет",0],["Один",1],["Два",2],["Три и более",3]], :selected=> @child_num), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:active_loans, "Кол-во активных кредитов у заемщика", class: 'control-label') %>
		  			<%= select_tag :active_loans, options_for_select([["0 - 2","A"],["3 - 4","B"],["5 и более","C"]], :selected=> @active_loans), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:inquiries, "Общее число запросов кредитной истории за 12 мес", class: 'control-label') %>
		  			<%= select_tag :inquiries, options_for_select([["0 - 7","A"],["8 - 15","B"],["16 и более","C"]], :selected=> @inquiries), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
		  			<%= label_tag(:grn_num, "Количество поручителей", class: 'control-label') %>
		  			<%= select_tag :grn_num, options_for_select([["Нет",0],["Один",1],["Два",2],["Три",3],["Четыре и более",4]], :selected=> @grn_num), {:class => 'form-control'} %>
		  		</div>
		  		<div class="form-group">
			  		<%= submit_tag("Расчитать", class: 'btn btn-primary') %>
			  	</div>
			<% end %>
			<div class="alert alert-info" role="alert">
				<strong>Вероятность дефолта:</strong> <%= @rating %>
			</div>
			<% if @good_rating %>
			<div class="alert alert-success" role="alert">
				<strong>Хороший клиент</strong> 
			</div>
			<% else %>
			<div class="alert alert-danger" role="alert">
				<strong>Плохой клиент</strong> 
			</div>
			<% end %>
		</div>
	</div>
</div>
